<form class="form" action="/teas/<%=@tea.id%>" method="post">
  <label for="name"><h3>Name:</h3></label>
  <input type="text" name="name" required="true" value="<%=@tea.name%>"><br>
  <label for="aka"><h3>Alternate Name:</h3></label>
  <input type="text" name="aka" required="true" value="<%=@tea.aka%>"><br>
  <label for="details"><h3>Details:</h3></label>
  <input type="text" name="details" required="true" value="<%=@tea.details%>"><br><br>

  <p><input type="radio" name="oxidation" value="Black" <%='checked' if @tea.oxidation == "Black"%>>Black</p>
  <p><input type="radio" name="oxidation" value="Green" <%='checked' if @tea.oxidation == "Green"%>>Green</p>
  <p><input type="radio" name="oxidation" value="Oolong" <%='checked' if @tea.oxidation == "Oolong"%>>Oolong</p>
  <p><input type="radio" name="oxidation" value="Puerh" <%='checked' if @tea.oxidation == "Puerh"%>>Puerh</p>
  <p><input type="radio" name="oxidation" value="White" <%='checked' if @tea.oxidation == "White"%>>White</p>
  <p><input type="radio" name="oxidation" value="Yellow" <%='checked' if @tea.oxidation == "Yellow"%>>Yellow</p>
  <h3><input type="submit" value="Update Tea"></h3>
</form>
