<% if @msg %>
  <h2 class="error"><%= @msg.gsub("_"," ") %></h2>
<% end %>
<form class="form" action="/teas/<%=@tea.id%>" method="post">
  <label for="name"><h3>Name:</h3></label>
  <input type="text" name="name" value="<%=@tea.name%>" class="text-box"><br>
  <label for="aka"><h3>Alternate Name:</h3></label>
  <input type="text" name="aka" value="<%=@tea.aka%>" class="text-box"><br>
  <label for="details"><h3>Details:</h3></label>
  <input type="text" name="details" value="<%=@tea.details%>" class="text-box"><br><br>

  <p><input type="radio" name="oxidation" value="Black" <%='checked' if @tea.oxidation == "Black"%>>Black</p>
  <p><input type="radio" name="oxidation" value="Green" <%='checked' if @tea.oxidation == "Green"%>>Green</p>
  <p><input type="radio" name="oxidation" value="Oolong" <%='checked' if @tea.oxidation == "Oolong"%>>Oolong</p>
  <p><input type="radio" name="oxidation" value="Puerh" <%='checked' if @tea.oxidation == "Puerh"%>>Puerh</p>
  <p><input type="radio" name="oxidation" value="White" <%='checked' if @tea.oxidation == "White"%>>White</p>
  <p><input type="radio" name="oxidation" value="Yellow" <%='checked' if @tea.oxidation == "Yellow"%>>Yellow</p>
  <h3><input type="submit" value="Update Tea" class="text-box"></h3>
</form>
