<form class="form" action="/teas" method="post">
  <label for="name"><h3>Name:</h3></label>
  <input type="text" name="name" required="true" value="<%=@tea.name%>"><br>
  <label for="aka"><h3>Alternate Name:</h3></label>
  <input type="text" name="aka" required="true" value="<%=@tea.aka%>"><br>
  <label for="details"><h3>Details:</h3></label>
  <input type="text" name="details" required="true" value="<%=@tea.details%>"><br>
  <p><input type="radio" name="type" <%='checked' if @tea.type == "black"%>>Black</p>
  <p><input type="radio" name="type" <%='checked' if @tea.type == "green"%>>Green</p>
  <p><input type="radio" name="type" <%='checked' if @tea.type == "oolong"%>>Oolong</p>
  <p><input type="radio" name="type" <%='checked' if @tea.type == "puerh"%>>Puerh</p>
  <p><input type="radio" name="type" <%='checked' if @tea.type == "white"%>>White</p>
  <p><input type="radio" name="type" <%='checked' if @tea.type == "yellow"%>>Yellow</p>
  <h3><input type="submit" value="Create Tea"></h3>
</form>
