<div class="teas">
  <ul>
    <h2>Black Teas</h2>
    <%Tea.type("Black").each do |t|%>
      <li><a href="/teas/<%=t.id%>"><%=t.name%></a></li>
    <%end%>

    <h2>Green Teas</h2>
    <%Tea.type("Green").each do |t|%>
      <li><a href="/teas/<%=t.id%>"><%=t.name%></a></li>
    <%end%>

    <h2>Oolong Teas</h2>
    <%Tea.type("Oolong").each do |t|%>
      <li><a href="/teas/<%=t.id%>"><%=t.name%></a></li>
    <%end%>

    <h2>Puerh Teas</h2>
    <%Tea.type("Puerh").each do |t|%>
      <li><a href="/teas/<%=t.id%>"><%=t.name%></a></li>
    <%end%>

    <h2>White Teas</h2>
    <%Tea.type("White").each do |t|%>
      <li><a href="/teas/<%=t.id%>"><%=t.name%></a></li>
    <%end%>

    <h2>Yellow Teas</h2>
    <%Tea.type("Yellow").each do |t|%>
      <li><a href="/teas/<%=t.id%>"><%=t.name%></a></li>
    <%end%>
  </ul>
</div>
