<h1><%=@tea.name%><em> ~ <%=@tea.aka if @tea.aka != "N/A"%></em></h1>

<h3><%=@tea.oxidation%></h3>
<p><%=@tea.details%></p>

<div class="post-line">
  <h2>posts</h2>
  <ol>
    <% @tea.posts.each do |p| %>
      <div class="post-line">
      <li><strong><%=p.content%></strong> - </a><a href="/users/<%=p.user_id%>"><em><%=p.user.username%></em></a></li>
      <% if p.user_id == current_user.id %>
        <form action="/posts/<%=p.id%>/delete" method="post">
          <input type="hidden" name="_method" value="delete">
          <a href="/posts/<%=p.id%>/edit"><button type="button" name="button">edit</button></a>
          <input type="submit" value="delete">
        </form>
      <% end %>
      </div>
    <%end%>
  </ol>
</div>

<br><br><br>
<div class="post-line">
<form class="form" action="/posts" method="post">
  <input type="hidden" name="tea_id" value="<%= @tea.id %>">
  <label><%=current_user.username%></label><br>
  <input type="text" name="content" required="true">
  <input type="submit" value="Add Post">
</form>
</div>

<br><br><br>

<% if valid_owner?(@tea) %>
  <form action="/teas/<%=@tea.id%>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <a href="/teas/<%=@tea.id%>/edit"><button type="button" name="button">Edit Tea</button></a>
    <input type="submit" value="Delete Tea">
  </form>
<% end %>
