<div class="header">
  <h1><%=current_user.username%></h1>
  <em><h2>The Place Where Tea Enthusiast Meet</h2></em>
</div>

<h1><%=@tea.name%><em> ~ <%=@tea.aka if @tea.aka != "N/A"%></em></h1>

<h3><%=@tea.oxidation%></h3>
<p><%=@tea.details%></p>

<div class="tea posts">
  <h3>posts</h3>
  <ol>
    <% @tea.posts.each do |p| %>
      <li><strong><%=p.content%></strong> - </a><a href="/users/<%=p.user_id%>"><em><%=p.user.username%></em></a></li>
      <% if p.user_id == current_user.id %>
        <a href="/posts/<%=p.id%>/edit"><h6>edit</a> / <a href="/posts/<%=p.id%>/delete">delete</h6></a>
      <% end %>
    <%end%>
  </ol>
</div>

<br><br><br>

<form class="form" action="/posts" method="post">
  <input type="hidden" name="tea_id" value="<%= @tea.id %>"><input type="hidden" name="user_id" value="<%= current_user.id %>">
  <label><%=current_user.username%></label><br>
  <input type="text" name="content" required="true">
  <input type="submit" value="Add Post">
</form>

<br><br><br>

<% if @tea.user.id == current_user.id %>
  <div class="owner menu">
  <a href="/teas/<%=@tea.id%>/edit"><button type="button" name="button" class="button"><h3>Edit Tea</h3></button></a>
  <a href="/teas/<%=@tea.id%>/delete"><button type="button" name="button" class="button"><h3>Delete Tea</h3></button></a>
  </div>
<% end %>
