<h1><%=@user.username%></h1><h2></h2>
<div class="users teas">
  <h1>Teas</h1>
  <ol>
    <% @user.teas.each do |t| %>
      <li><a href="/teas/<%= t.id %>"><h3><%=t.name%></a><%=" ~ #{t.posts.size} posts" %></h3></li>
    <%end%>

  </ol>
</div><h2></h2>

<div class="users posts">
  <h1>Posts</h1>
  <ol>
    <% @user.posts.each do |p| %>
      <% t = Tea.find(p.tea_id) %>
      <li><a href="/teas/<%= t.id %>"><h3><%=t.name%></a> ~ <%=p.content%></h3></li>
    <%end%>
  </ol>
</div><h2></h2>

<div class="users connections">
  <h1>Connections</h1>
  <ol>
    <% @user.friends.each do |f| %>
      <li><a href="/users/<%= f.id %>"><h3><%=f.username%></h3></li>
    <%end%>
  </ol>
  </div>
